<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2012-2020 Cumulocity GmbH
  ~ Copyright (c) 2021 Software AG, Darmstadt, Germany and/or Software AG USA Inc., Reston, VA, USA,
  ~ and/or its subsidiaries and/or its affiliates and/or their licensors. Use, reproduction, transfer, publication
  ~ or disclosure is prohibited except as specifically provided for in your License Agreement with Software AG.
  -->

<configuration scan="true" scanPeriod="30 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder defaults to ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%-5level %logger{36} - %X{tenant} - %X{device} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.cumulocity" level="INFO" />
    <logger name="com.cumulocity.agent.server.context" level="DEBUG" />
    <logger name="c8y" level="DEBUG" />
    <logger name="httpclient.wire" level="INFO" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>


</configuration>
