# cumulocity-examples CODEOWNERS
# Keep the directory order alphabetical and always list subdirectories after their parents
# Keep in mind that cumulocity-examples is open source so everything in this file is public

/* @martin-sag
.*/** @martin-sag
/device-integrations @l2p-
/hello-world-microservice @mgrumann
/hello-world-notification-microservice @SoftwareAG/c8y-data-in-motion
/java-agent @l2p-
/lora-codec-lansitec @l2p-
/lora-codec-twtg-neon @l2p-
/microservices @mgrumann
/microservices/node-microservice @janhommes
/mqtt-client @sarangovindarajan
/notification2-examples @SoftwareAG/c8y-data-in-motion
/route-microservice @mgrumann
/sample-lwm2m-custom-decoder @Oezge-Akin
/snmp @l2p-
/tracker-agent @l2p-
/x509-rest-client @sarangovindarajan
