[Unit]
Description=Vendme Agent Extension - Comunication Driver for Greenbox Telemetry Devices
After=network.target

[Service]
PIDFile=/var/run/greenbox-agent-server.pid
ExecStart= /usr/share/greenbox-agent-server/start
Restart=on-abort

[Install]
