<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="com.cumulocity" level="INFO"/>
    <logger name="com.cumulocity.snmp" level="DEBUG"/>
    <logger name="com.cumulocity.snmp.repository.configuration.aspect" level="INFO"/>
</configuration>