<div ng-controller="DevicesCtrl as devices">
  <form ng-submit="devices.onSearch(devices.searchQuery)">
    <div class="input-group">
      <input type="text" ng-model="devices.searchQuery" class="form-control" placeholder="Filter with device name...">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default" type="button">Submit</button>
      </span>
    </div>
  </form>
  <p class="text-warning">Page size is {{devices.filter.pageSize}} by default. See <code>pageSize</code> filter.</p>
  <h2>Devices</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-click="devices.goToDeviceDetail(device.id)" c8y-repeat="device in devices" filter="devices.filter" refresh="devices.refresh" realtime="true" style="cursor:pointer;">
        <td>{{device.id}}</td>
        <td>{{device.type}}</td>
        <td>{{device.name}}</td>
      </tr>
    </tbody>
  </table>
</div>
