<div ng-if="c8y.user" ng-controller="MainCtrl as main">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header" ng-init="isCollapsed = true">
        <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-href="#/">Cumulocity</a>
      </div>
      <div id="navbar" class="navbar-collapse" collapse="isCollapsed">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="" ng-click="main.logout()" c8y-logout>Logout</a></li>
        </ul>
        <p class="navbar-text navbar-right">Hello {{c8y.user.firstName}}</p>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li><a ui-sref="main.alarms">Alarms</a></li>
          <li><a ui-sref="main.events">Events</a></li>
          <li><a ui-sref="main.devices">Devices</a></li>
          <li class="nav-divider"></li>
          <li><a ui-sref="main.charts">Charts</a></li>
          <li><a ui-sref="main.deviceList">Device List</a></li>
          <li><a ui-sref="main.alarmList">Alarm List</a></li>
          <li><a ui-sref="main.map">Map</a></li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <ui-view />
      </div>
    </div>
  </div>
</div>
