<form id="datapointForm">
  <div class="form-group">
    <label>Min</label>
    <input class="form-control" type="number" ng-model="dp.min" placeholder="Min" required>
  </div>
  <div class="form-group">
    <label>Max</label>
    <input class="form-control" type="number" ng-model="dp.max" placeholder="Max" required>
  </div>
  <div class="form-group">
    <label>Yellow Min</label>
    <input class="form-control" type="number" ng-model="dp.yellowRangeMin" placeholder="Min" required>
  </div>
  <div class="form-group">
    <label>Yellow Max</label>
    <input class="form-control" type="number" ng-model="dp.yellowRangeMax" placeholder="Min" required>
  </div>
  <div class="form-group">
    <label>Red Min</label>
    <input class="form-control" type="number" ng-model="dp.redRangeMin" placeholder="Red Range Min" required>
  </div>
  <div class="form-group">
    <label>Red Max</label>
    <input class="form-control" type="number" ng-model="dp.redRangeMax" placeholder="Red Range Max" required>
  </div>
</div>
